/* Google font se nhi kiya..dekhna h ekbar chal bhi raha h ki nhi  */

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Baskervville", serif;
}

/* Intro Section */
#Intro {
  background-color: #fff8de;
  padding: 3% 5% 0 6%;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
/* Navbar */
.imagelogo {
  width: 30px;
  height: 30px;
  padding-right: 7px;
}
.nav-item {
  margin-left: 25px;
  margin-right: 25px;
}
.btn {
  background-color: #E89D0C;
  border-radius: 0.7rem;
  color: white;
}
.w1 {
  background-color: #25d366;
  margin-right: 3px;
  color: #E89D0C;
  font-size: 1.3rem;
}

/* Intro Part */
h1 {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 48px;
}
.features {
  font-size: 25px;
}
.girlimage {
  width: 234.4px;
  height: 234.4px;
  margin-top: 37%;
}
.sellnow {
  width: 230px;
  height: 45px;
  margin-bottom: 70px;
  margin-top: 15%;
  font-size: 22px;
}
/* Media Query for Intro Part */
@media (max-width: 770px) {
  .nav-item {
    display: none;
  }
}
@media (max-width: 457px) {
  h1 {
    margin-bottom: 10%;
  }
}
@media (max-width: 992px) {
  .girlimage {
    margin: 10% 0;
  }
}
/* Procedure Section */
#PROCEDURE {
  background-color: #cdfff3;
  padding: 2% 10%;
}
.procedureimages1 {
  width: 100%;
  margin-top: 30px;
}
.procedureimages2 {
  width: 100%;
  margin-top: 30px;
}
.procedureimages3 {
  width: 100%;
  margin-top: 15px;
}
.arrowimage {
  width: 60%;
  height: 4%;
  margin: 120px 0;
}
h4 {
  margin-bottom: 30px;
}
/* Media Query for Procedure Section*/
@media (max-width: 439px) {
  .switch {
    display: block;
  }
  .procedureimages1 {
    width: 200px;
    height: 150px;
    margin-top: 20px;
  }
  .procedureimages2 {
    width: 200px;
    height: 150px;
    margin-top: 0px;
  }
  .procedureimages3 {
    width: 200px;
    height: 150px;
  }
  .arrowimage {
    width: 70px;
    height: 12px;
    transform: rotate(-90deg);
    margin-left: 35%;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  h4 {
    margin-bottom: 0px;
  }
  .different {
    margin-bottom: 20px;
  }
}
/* Review Section */
#REVIEWS {
  background-color: #f3f3f3;
  padding: 3% 5% 5% 6%;
  scroll-behavior: smooth;
}
.card {
  width: 80%;
  height: 80%;
  display: inline-block;
  margin-top: 8%;
  margin-bottom: 8%;
}
.card-title {
  margin-bottom: 6%;
}
.card-subtitle {
  margin-bottom: 4%;
}
.fas {
  color: #ff9600;
}
/* Media Query for Review Section */
@media (max-width: 689px) {
  .change {
    display: block;
  }
}

/* About Us */

#AboutUs {
  background-color: #cdfff3;
  padding: 8% 4% 6% 4%;
  scroll-behavior: smooth;
}

.usimg {
  width: 60%;
  border-radius: 2%;
  text-align: center;
  padding: 0% 0 5% 0;
  /* z-index: 1; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutustext {
  /* width: 500px; */

  text-align: center;
  vertical-align: text-bottom;
}

@media (min-width: 780px) {
  .aboutustext {
    padding: 6% 5% 2% 5%;
  }
}

/* F.A.Q */

#FAQs {
  background-color: #fff8de;
  padding: 3%;
  text-align: center;
  scroll-behavior: smooth;
}

.QNA {
  background-color: #ffffff;
  margin: 20px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(146, 137, 137);
  text-align: left;
}

/* Footer */

#CTA {
  padding: 3% 7%;
  margin: 0 15px;
  background-color: #fff;
  text-align: left;
}

.w2 {
  color: #08993d;
  font-size: 1.3rem;
  font-weight: 900;
}

.e1 {
  color: #df2727;
  font-size: 1.3rem;
}
.qrcode {
  width: 100px;
  height: 100px;
}

.qrtext {
  margin: 0rem;
}

.QRcode {
  text-align: center;
}

@media (max-width: 770px) {
  .QRcode {
    display: none;
  }
} ;
