html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Baskervville", serif;
}

/* Intro Section */
#Intro {
  background-color: #fff8de;
  padding: 3% 5% 3% 6%;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
/* Navbar */
.imagelogo {
  width: 30px;
  height: 30px;
}
.nav-item {
  margin-left: 25px;
  margin-right: 25px;
}
.btn {
  background-color: #cda513;
  border-radius: 0.7rem;
  color: white;
}
.w1 {
  background-color: #25d366;
  margin-right: 3px;
  color: #9b8bf7;
  font-size: 1.3rem;
}

/* Intro Part */
#selltext {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 48px;
}
.features {
  font-size: 25px;
}
.girlimage {
  width: 234.4px;
  height: 234.4px;
  margin-top: 37%;
}
.sellbtn {
  width: 230px;
  height: 45px;
  margin-bottom: 70px;
  margin-top: 15%;
  font-size: 22px;
}
/* Media Query for Intro Part */
@media (max-width: 770px) {
  .nav-item {
    display: none;
  }
}
@media (max-width: 457px) {
  h1 {
    margin-bottom: 10%;
  }
}
@media (max-width: 992px) {
  .girlimage {
    margin: 10% 0;
  }
}

/* Procedure Section */

#BUYSECTION {
  background-color: #cdfff3;
  /* #C4FFF6 */
  padding: 3% 5% 5% 6%;
}
#buytext {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 45px;
  /* font-weight: 500; */
}

.buybtn {
  background-color: #6672e8;
  border-radius: 0.7rem;
  color: white;
  width: 230px;
  height: 45px;
  margin-bottom: 70px;
  margin-top: 15%;
  font-size: 22px;
}

/* Review Section */
#REVIEWS {
  background-color: #f3f3f3;
  padding: 3% 5% 5% 6%;
  scroll-behavior: smooth;
}
.card {
  width: 80%;
  height: 80%;
  display: inline-block;
  margin-top: 8%;
  margin-bottom: 8%;
}
.card-title {
  margin-bottom: 6%;
}
.card-subtitle {
  margin-bottom: 4%;
}
.fas {
  color: #ff9600;
}
/* Media Query for Review Section */
@media (max-width: 689px) {
  .change {
    display: block;
  }
}

/* About Us */

#AboutUs {
  background-color: #cdfff3;
  padding: 8% 4% 4% 4%;
  scroll-behavior: smooth;
}

.usimg {
  width: 50%;
  border-radius: 2%;
  text-align: center;
  padding: 0% 0 5% 0;
  /* z-index: 1; */
}

.center {
  display: block;
  margin: auto;
}

.aboutustext {
  /* width: 500px; */

  text-align: center;
  vertical-align: text-bottom;
  font-size: 1.4rem;
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .usimg {
    padding: 15% 0 5% 0;
  }
}

@media (max-width: 750px) {
  .usimg {
    width: 60%;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .usimg {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .about {
    display: block;
  }
  .usimg {
    padding: 0% 0 12.5% 0;
  }
}

@media (min-width: 780px) {
  .aboutustext {
    padding: 2% 5% 2% 5%;
  }
}

/* F.A.Q */

#FAQs {
  background-color: #fff8de;
  padding: 3%;
  text-align: center;
  scroll-behavior: smooth;
}

.accordion-button {
  font-size: 1.3rem;
}

.QNA {
  background-color: #ffffff;
  margin: 20px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(146, 137, 137);
  text-align: left;
}

/* Footer */

#CTA {
  padding: 3% 7%;
  margin: 0 15px;
  background-color: #fff;
  text-align: left;
}

.w2 {
  color: #08993d;
  font-size: 1.3rem;
  font-weight: 900;
}

.e1 {
  color: #df2727;
  font-size: 1.3rem;
}

.e1text {
  font-size: 1rem;
}

@media (max-width: 372px) {
  .e1text {
    font-size: 0.9rem;
  }
}
@media (max-width: 342px) {
  .e1text {
    font-size: 0.8rem;
  }
}

.qrcode {
  width: 100px;
  height: 100px;
}

.qrtext {
  margin: 0rem;
}

.QRcode {
  text-align: center;
}

@media (max-width: 770px) {
  .QRcode {
    display: none;
  }
}
